<%- include('includes/header.ejs') %>
<body>


    <%- include('includes/headbody.ejs') %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Page Not Found</h1>
            &nbsp;
            <p><a class="btn btn-primary btn-lg" href="/" role="button"> » Back to home</a></p>
        </div>
    </div>


    <%- include('includes/footer.ejs');%>
</body>

</html>